*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
.logs_modificacoes
docs
/.trae
iniciar-servidores.bat
.figma/1_2/index.jsx
.figma/1_2/index.module.scss
.figma/image/d4e509ec-69b5-4e96-81cb-631b2f1840d6.png
.figma/image/screenshot_1_2.png
