
/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

LOCK TABLES `academias` WRITE;
/*!40000 ALTER TABLE `academias` DISABLE KEYS */;
INSERT INTO `academias` (`idAcademia`, `nome`, `CNPJ`, `telefone`, `email`, `endereco`, `responsavel`) VALUES (1,'Iron Fitness Academia','12345678000190','(44) 99999-8888','contato@ironfitness.com.br','Av. Brasil, 1500 - Centro, Maring├í - PR','Carlos Eduardo Silva'),(2,'Power House Gym','98765432000110','(43) 98888-7777','contato@powerhousegym.com.br','Rua Sergipe, 850 - Centro, Londrina - PR','Roberto Almeida Santos');
/*!40000 ALTER TABLE `academias` ENABLE KEYS */;
UNLOCK TABLES;

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

LOCK TABLES `usuario_academia` WRITE;
/*!40000 ALTER TABLE `usuario_academia` DISABLE KEYS */;
INSERT INTO `usuario_academia` (`idUsuario`, `idAcademia`, `created_at`, `updated_at`) VALUES (1,1,'2025-12-04 01:06:51','2025-12-04 01:06:51'),(1,2,'2025-12-04 01:06:51','2025-12-04 01:06:51');
/*!40000 ALTER TABLE `usuario_academia` ENABLE KEYS */;
UNLOCK TABLES;

LOCK TABLES `plano_assinaturas` WRITE;
/*!40000 ALTER TABLE `plano_assinaturas` DISABLE KEYS */;
/*!40000 ALTER TABLE `plano_assinaturas` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

